	$orig: #000;
	
	
// COLORS

$black: 			#000;
$teal-dark: 		#00354A;
$green-blue: 		#00E5B8;
$greeb-blue2: 		#00E6AC;
$blue-water: 		#01F4FF;
$blue-sky-dark: 	#14B9DC;
$green-dark: 		#14D100;
$green-med: 		#18FF00;
$green-blue3: 		#19F1C4;
$a: 				#202325;
$selection-border: 	#222218;
$background: 		#26292C;
$a: 				#320004;
$a: 				#35FF00;
$a: 				#38F6FF;
$a: 				#3B3A32;
$a: 				#3FCAFF;
$a: 				#3FD6FF;
$a: 				#444;
$a: 				#49483E;
$a: 				#65C3FA;
$a: 				#660000;
$a: 				#666;
$a: 				#6CF8FF;
$a: 				#78F2FE;
$a: 				#800;
$a: 				#99F200;
$a: 				#9D550FB0;
$a: 				#A7F848;
$a: 				#B7F200;
$a: 				#BE0036;
$a: 				#BE8CFE;
$a: 				#BFFF37;
$a: 				#C38913;
$a: 				#CCC;
$a: 				#CD73FF;
$a: 				#CFFF6B;
$a: 				#D4B06A;
$a: 				#DAFEFD;
$a: 				#DDFF37;
$a: 				#E50055;
$a: 				#E900CC;
$a: 				#EEE;
$a: 				#F165FA;
$a: 				#F8F8F0;
$a: 				#F8F8F2;
$a: 				#F8F8F2A5;
$a: 				#FA6CFF;
$a: 				#FD65C6;
$a: 				#FD6783;
$a: 				#FD9DAF;
$a: 				#FF0000;
$a: 				#FF0095;
$a: 				#FF0700;
$a: 				#FF3C37;
$a: 				#FF5300;
$a: 				#FF6F6B;
$a: 				#FF8500;
$a: 				#FF9200;
$a: 				#FFA100;
$a: 				#FFA937;
$a: 				#FFB700;
$a: 				#FFCF38;
$a: 				#FFDB00;
$a: 				#FFE792;
$a: 				#FFEA6B;
$a: 				#FFF;
$a: 				#FFF700;
$a: 				#FFFFFF;