
/*

Vishus Rust Theme (c) Andrew Prindle <prindle.andrew@gmail.com>

*/

/*  .hljs- */
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #282a36;
}


/*  used for use, pub, struct, type */
.hljs-keyword {
    color: #FF0095;
}

.hljs-comment {
    color: #D4B06A;
}


/*  built-in data types - u32, String, bool */
.hljs-built_in {
    color: #FFA100;
}

.hljs-number {
    color: #35FF00;
}


/*  Compiler Attributes */
.hljs-meta {
    color: #000;
    background-color: #FF0700;
}


/*  name of function */
.hljs-title {
    color: #FF3C37;
}



/*  strut name, also  */
    .hljs-class .hljs-keyword {
        color: #18FF00;
    }
    /*  name of `type Name = ();` */
    .hljs-class .hljs-title {
        color: #38F6FF;
    }

.hljs-string {
    color: #dafefd;
    background: #00354a;
}

/*  lifetimes */
.hljs-symbol {
    color: #FFA100;
}

/*  Some and Ok etc */
.hljs-literal {
    color: #35FF00;
}


/* function */
.hljs-function .hljs-keyword {
    color: #FF0095;
}
.hljs-function .hljs-title {
    color: #FFDB00;
}



























































































