                        <div class="row">
                            <div class="col-auto">
                                <button onclick="return confirm_action('This will reset the article to the original state, all changes that have been made since saving will be lost.  Are you sure you want to continue?');" type="reset" class="v-invisible btn btn-danger" value="Reset">
                                    <i class="v-icon-reset fa fa-eraser" aria-hidden="true"></i>
                                    Reset
                                </button>
                            </div>
                            <div class="col v-centered-text">
                                <button id="preview-edit-end2" type="button" class="btn btn-success">
                                    <i class="v-icon-preview-end fa fa-search-minus" aria-hidden="true"></i>
                                    End Preview
                                </button>
                                <noscript>Preview functionality requires javascript.  Please enable javascript or download a browser that supports javascript.</noscript>
                            </div>
                            <div class="col-auto">
                                <button id="preview-save2" type="submit" class="btn btn-primary">
                                    <i class="v-icon-save fa fa-floppy-o" aria-hidden="true"></i>
                                    Save Article
                                </button>
                            </div>
                        </div>