{{> common/header }}
                <div class="v-content">
                    
<!-- ---------- -->
                    
                    {{{body}}}
                    
<!-- ---------- -->
                    
                </div>
                
{{> common/footer }}