
@media print {
    
    .v-article-tags a, .v-article-tags a:link, .v-article-tags a:visited {
        color: #fff !important;
    }
    input, textarea, button[type=submit] {
        border: 1px solid #ddd !important;
        color: #000 !important;
    }
    label {
        color: #000 !important;
    }
    .v-content, .v-article, #v-footer {
        border: 0px !important;
    }
    .v-article-header, .v-article p, .v-article-title a, .v-article-date, .v-article, #v-main, #v-content, #v-content p, #v-footer {
        color: #000 !important;
        
    }
    .v-article *, .v-content * {
        color: #000 !important;
    }
    
}



#v-navbrand {

}
body {
    background-color: #15191b;
}

a {
    color: #8ceaf6;
    text-decoration: none;
}
a:visited {
    color: #10b6cb;
}
a:hover {
    color: #bd67fd;
}
a:active {
    color: #bd67fd;
}

.v-nav-bar {
    /*background: url('../white-trans-bg.png');*/
}

.v-nav {
    margin-bottom: 1em;
}
.v-nav-item {
    font-size: 1.15em;
}

.v-form-label {
    /*width: 100%;*/
}
.v-form-control {
    /*width: 100%;*/
}
.v-article {
    /*border: 1px solid #aaa;*/
    border: 1px solid #555;
    border-radius: 1em;
    
    margin: 1em 0px 2em 0px;
    line-height: 1.5;
    background: #212529 url('../sphere-trans2.png') no-repeat bottom right;
    padding: 1em 0.5em 1em 0.5em;
    text-align: justify;
}
.v-article-header {
}
.v-article-title {
    font-size: 1.5em;
    /* Candara, Calibri, Segoe, "Segoe Ui", Optima, Arial, sans-serif */
    /*font-family: Segoe, "Segoe Ui", Optima, Candara, Calibri, Arial, sans-serif;*/
    /*font-family: Trebuchet, Tahoma, Arial, sans-serif;*/
    /*font-family: vishusBlogTitle, 'Century Gothic', 'Franklin Gothic Book', Trebuchet, Tahoma, Arial, sans-serif;*/
    font-family: vishusBlogTitle, Tahoma, Verdana, Geneva;
    font-weight: bold;
    text-align: center;
}

.v-article-title a {
    color: #ffffff;
    text-decoration: none;
}

.v-article-title a:link {
    color: #ffffff;
}
.v-article-title a:hover {
    color: #bd67fd;
}
.v-article-title a:visted {
    color: #eeeeee;
}

.v-article-date {
    margin: 0px 0px 0px 1em;
    color: #aaa;
    width: 100%;
    text-align: center;
}
.v-article-tags {
    /*display: inline;*/
    /*margin: 0px 0px 0px 2em;*/
}
#v-footer {
    border: 1px solid #aaa;
    border-radius: 1em;
    margin: 0em 0px 1em 0px;
    text-align: center;
    background-color: #212529;
    padding: 0.5em;
}
.v-content {
    /*border: 1px solid #aaa;*/
    border: 1px solid #555;
    border-radius: 1em;
    margin: 1em 0px 1em 0px;
    background-color: #212529;
    padding: 1em 0.5em 1em 0.5em;
    text-align: justify;
}

.v-all-tags {
    text-align: left !important;
}

.v-all-tags ul {
    padding: 0px;
    margin: .5em 0px;
}

.v-all-tags li {
    display: inline-block;
    list-style-type: none;
    margin: 0px .5em;
}
.v-all-tags li a {
    padding: .4em;
}

.v-submit {
    margin: 1.5em 1em 0em 1em;
    text-align: right;
}

/* input:-webkit-autofill:hover */
/* input:-webkit-autofill:focus */
.v-center-label {
    /*display: block;*/
    /*text-align: center;*/
    display: block;
    text-align: center;
}

.v-centered-input {
    text-align: center;
}
.v-centered-text {
    text-align: center;
}
.v-centered-msg {
    margin-top: 1em;
    text-align: center;
}

.v-input-separator {
    background-color: #363636;
    color: #eee;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 1px solid #666 !important;
    border-right: 1px solid #666 !important;
    margin: 2px 0px 2px 0px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #363636 inset !important;
    -webkit-text-fill-color: #ccc !important;
    background: #363636 !important;
}

nav input, nav textarea {
    background-color: #222 !important;
    color: #eee;
    border: 2px solid #343a40 !important;
    border-radius: .8em !important;
}
nav input::-webkit-input-placeholder,
nav textarea::-webkit-input-placeholder {
  color: #ccc !important;
}
nav input:-moz-placeholder,
nav textarea:-moz-placeholder {
  color: #ccc !important;
}
nav input::-moz-placeholder,
nav textarea::-moz-placeholder {
  color: #ccc !important;
}
nav input:-ms-input-placeholder,
nav textarea:-ms-input-placeholder {
  color: #ccc !important;
}


nav input:focus, nav textarea:focus {
    background-color: #ddd !important;
    color: #222 !important;
    border: 2px solid #5bc0de;
    /*border: 2px solid #5bc0de;*/
    /*border: 2px solid #5bc0de;*/
}
.v-content input, .v-content textarea {
    background-color: #363636 !important;
    color: #eeeeee;
    border: 2px solid #212529;
    border-radius: .8em;
}
input:focus, textarea:focus {
    /*background-color: #585858 !important;
    color: #eee !important;*/
    background-color: #ddd !important;
    color: #222 !important;
    border: 2px solid #5bc0de;
    /*border: 2px solid #5bc0de;*/
    /*border: 2px solid #5bc0de;*/
}
.v-nav-login {
    font-weight: bolder;
}


.v-content ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #aaa;
}
.v-content :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #aaa;
   opacity:  1;
}
.v-content ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #aaa;
   opacity:  1;
}
.v-content :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #aaa;
}
.v-content ::-ms-input-placeholder { /* Microsoft Edge */
   color: #aaa;
}

.v-form-message {
    display: none;
    color: #f0ad4e;
    margin-top: .25rem;
    font-size: .875rem;
}

nav input .active {
    border: 2px solid #5bc0de !important;
}

.v-tag-size-6 {
    font-size: 130%;
    font-weight: 900;
}
.v-tag-size-5 {
    font-size: 125%;
    font-weight: 800;
}
.v-tag-size-4 {
    font-size: 120%;
    font-weight: 700;
}
.v-tag-size-3 {
    font-size: 115%;
    font-weight: 600;
}
.v-tag-size-2 {
    font-size: 110%;
    font-weight: 500;
}
.v-tag-size-1 {
    font-size: 105%;
    font-weight: 400;
}
.v-tag-size-0 {
    font-size: 100%;
    font-weight: 300;
}

/* Highlighted word - search terms are highlighted with this */
mark, .v-term {
    font-weight: 700;
    background-color: #fd0;
}

/* .form-control:valid + .invalid-feedback {
    display: none;
} */
#header {
    font-family: vishusBlog;
    font-size: 250%;
    text-shadow: 0px 0px 8px #ff4801;
}
.blog-logo {
    font-family: vishusBlog;
    font-size: 250%;
    /*text-shadow: 0px 0px 8px #ff4801;*/
    text-shadow: 0px 0px 1px #000000;
}
#search-form {
    flex-flow: row nowrap;
}

#v-main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    /*flex-basis: 30ch;*/
}
#v-body {
    border: 1px solid #212529
    /*border: 1px dashed #dd0000;*/
    /*margin: 0px 5%;*/
    flex: 9 1 100%;
    order: 2;
    margin: 0px 0.5em;
    color: #e0e0e0;
    /*max-width: 70ch;*/
    max-width: 900px;
    font-family: vishusBlogText, Geneva, ‘Lucida Sans’, ‘Lucida Grande’, ‘Lucida Sans Unicode’, Verdana, sans-serif;
    /*font-family: Geneva, ‘Lucida Sans’, ‘Lucida Grande’, ‘Lucida Sans Unicode’, Verdana, sans-serif;*/
    font-size: 1.15em;
}
#v-menu {
    color: #e0e0e0;
    border: 1px solid #212529;
    /*border: 1px dashed #dd0000;*/
    margin: 0px;
    padding: 1em 1em;
    order: 1;
    flex: 1 9 0%;
    display: none;
    font-family: Candara, Calibri, Segoe, "Segoe Ui", Optima, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}

#v-menu ul {
    margin: 0px;
    padding: 0px;
}
#v-menu li {
    display: block;
    list-style-type: none;
}

.v-end {
    flex-grow: 1;
    border: 1px dashed #dd0000;
}

@media all and (max-height: 432px) and (orientation:landscape) {
    .blog-logo {
        font-size: 125%;
        margin: 0px;
        padding: 0px;
    }
}

@media (min-width: 768px) {
    .v-article, .v-content {
        padding: 1em 1.5em 1em 1.5em;
    }
    .v-article-header {
        /*margin: 0px 3em 1em 3em;*/
        margin: 0px;
    }
    .v-article-title {
        /* Candara, Calibri, Segoe, "Segoe Ui", Optima, Arial, sans-serif */
        /*font-family: Segoe, "Segoe Ui", Optima, Candara, Calibri, Arial, sans-serif;*/
    }
    .v-article-date {
        margin: 0px;
    }
    .v-article-tags {
        text-align: right;
        /*display: inline;*/
        /*margin: 0px 0px 0px 2em;*/
    }
    #v-nav-main {
        /*display: none;*/
    }
    #v-menu {
        /*display: flex;*/
        flex: 0 0 15%;
        margin: 0px 1em 0px 0px;
    }
    #v-body {
        flex: 0 0 70%;
        margin: 0px auto;
    }
}
@media (min-width: 978px) {
    .v-article, .v-content {
        padding: 1em 2em 1em 2em;
    }
    #v-nav-main {
        /*display: none;*/
    }
    #v-menu {
        /*display: flex;*/
        flex: 0 0 15%;
    }
    #v-body {
        flex: 0 0 60%;
    }
}
@media (min-width: 1170px) {
    .v-article, .v-content {
        padding: 1em 2.5em 1em 2.5em;
    }
    #v-nav-main {
        /*display: none;*/
    }
    #v-menu {
        /*display: flex;*/
        flex: 0 0 15%;
    }
    #v-body {
        flex: 0 0 60%;
    }
}

/*
@media (min-width: 970px) {
    #v-nav-main {
    }
    #v-menu {
        display: flex;
        width: 14%;
        flex: 1 9 30ch;
        margin: 0px 0px 0px 4%;
    }
    #v-body {
        flex: 9 1 60%;
        width: 60%;
        margin: 0px 20% 0px 1%;
    }

}
@media (min-width: 1170px) {
    #v-nav-main {
    }
    #v-menu {
        display: flex;
        width: 15%;
        flex: 1 9 30ch;
        margin: 0px 0px 0px 9%;
    }
    #v-body {
        flex: 9 1 50%;
        width: 50%;
        margin: 0px 25% 0px 1%;
    }
}
*/





.form-auth-alert {
    /*display: inline;*/
    padding: 2px 10px;
    margin: 3px 0px;
}

.hidden-pass {
    display: none;
}




@font-face {
  font-family: vishusBlog;
  src: local("Expansiva"),
  url('../fonts/expansiva.ttf');
  font-weight: bold;
}


@font-face {
  font-family: vishusBlogTitle;
  src: local("ArevBI"),
  url('../fonts/arev.ttf');
  font-weight: bold;
}

@font-face {
  font-family: vishusBlogtext;
  src: local("Gravity-Light"),
  url('../fonts/gravitylight.otf');
  font-weight: bold;
}


@font-face {
  font-family: vishusBlogText;
  src: local("Gravity-Light"),
  url('../fonts/gravitylight.ttf');
  font-weight: bold;
}
