{{> common/header }}
                <div class="v-content">
                    {{~#if msg~}}
                        {{{msg}}}
                    {{~/if~}}
                    {{{body}}}
                </div>
{{> common/footer }}