"C:\code\lang\Rust\proj\blogr\static\fonts\Cabin-Medium-freeware.otf"
"C:\code\lang\Rust\proj\blogr\static\fonts\Essence Sans Bold Italic-freeware.ttf"
"C:\code\lang\Rust\proj\blogr\static\fonts\Essence Sans-freeware.ttf"
"C:\code\lang\Rust\proj\blogr\static\fonts\eurof35-freeware.ttf"
"C:\code\lang\Rust\proj\blogr\static\fonts\Halfmarks-freeware.ttf"
"C:\code\lang\Rust\proj\blogr\static\fonts\mesmerize-sb-freeware.ttf"
"C:\code\lang\Rust\proj\blogr\static\fonts\OpenSans-Bold-freeware.ttf"
"C:\code\lang\Rust\proj\blogr\static\fonts\OpenSans-BoldItalic-freeware.ttf"
"C:\code\lang\Rust\proj\blogr\static\fonts\OpenSans-CondBold (1)-freeware.ttf"
"C:\code\lang\Rust\proj\blogr\static\fonts\OpenSans-ExtraBold-freeware.ttf"
"C:\code\lang\Rust\proj\blogr\static\fonts\OpenSans-ExtraBoldItalic-freeware.ttf"
"C:\code\lang\Rust\proj\blogr\static\fonts\OpenSans-Light-freeware.ttf"
"C:\code\lang\Rust\proj\blogr\static\fonts\OpenSans-LightItalic-freeware.ttf"
"C:\code\lang\Rust\proj\blogr\static\fonts\OpenSans-Regular-freeware.ttf"
"C:\code\lang\Rust\proj\blogr\static\fonts\OpenSans-Semibold-freeware.ttf"
"C:\code\lang\Rust\proj\blogr\static\fonts\OpenSans-SemiboldItalic-freeware.ttf"
"C:\code\lang\Rust\proj\blogr\static\fonts\Servetica Medium Public-freeware.ttf"
"C:\code\lang\Rust\proj\blogr\static\fonts\timeburner_regular-freeware.ttf"
"C:\code\lang\Rust\proj\blogr\static\fonts\Rounded Elegance-freeware.ttf"
"C:\code\lang\Rust\proj\blogr\static\fonts\Convoy-freeware.ttf"
"C:\code\lang\Rust\proj\blogr\static\fonts\oldri-freeware.ttf"
"C:\code\lang\Rust\proj\blogr\static\fonts\OpenSans-Italic-freeware.ttf"
"C:\code\lang\Rust\proj\blogr\static\fonts\Wolf Sans Regular-freeware.ttf"
"C:\code\lang\Rust\proj\blogr\static\fonts\Arvo-Italic-freeware.ttf"
"C:\code\lang\Rust\proj\blogr\static\fonts\Arvo-Regular-freeware.ttf"
"C:\code\lang\Rust\proj\blogr\static\fonts\Aspergit Bold-freeware.ttf"
"C:\code\lang\Rust\proj\blogr\static\fonts\Bowhouse-Regular-freeware.ttf"


@font-face { font-family: vishusTest1; src: local("Cabin"), url('C:\code\lang\Rust\proj\blogr\static\fonts\Cabin-Medium-freeware.otf'); }
@font-face { font-family: vishusTest2; src: local("Essence"), url('C:\code\lang\Rust\proj\blogr\static\fonts\Essence Sans Bold Italic-freeware.ttf'); }
@font-face { font-family: vishusTest3; src: local("Essence"), url('C:\code\lang\Rust\proj\blogr\static\fonts\Essence Sans-freeware.ttf'); }
@font-face { font-family: vishusTest4; src: local("eurof35"), url('C:\code\lang\Rust\proj\blogr\static\fonts\eurof35-freeware.ttf'); }
@font-face { font-family: vishusTest5; src: local("Halfmarks"), url('C:\code\lang\Rust\proj\blogr\static\fonts\Halfmarks-freeware.ttf'); }
@font-face { font-family: vishusTest6; src: local("mesmerize"), url('C:\code\lang\Rust\proj\blogr\static\fonts\mesmerize-sb-freeware.ttf'); }
@font-face { font-family: vishusTest7; src: local("Servetica"), url('C:\code\lang\Rust\proj\blogr\static\fonts\Servetica Medium Public-freeware.ttf'); }
@font-face { font-family: vishusTest8; src: local("timeburner_regular"), url('C:\code\lang\Rust\proj\blogr\static\fonts\timeburner_regular-freeware.ttf'); }
@font-face { font-family: vishusTest9; src: local("Rounded"), url('C:\code\lang\Rust\proj\blogr\static\fonts\Rounded Elegance-freeware.ttf'); }
@font-face { font-family: vishusTest10; src: local("Convoy"), url('C:\code\lang\Rust\proj\blogr\static\fonts\Convoy-freeware.ttf'); }
@font-face { font-family: vishusTest11; src: local("oldri"), url('C:\code\lang\Rust\proj\blogr\static\fonts\oldri-freeware.ttf'); }
@font-face { font-family: vishusTest12; src: local("Wolf"), url('C:\code\lang\Rust\proj\blogr\static\fonts\Wolf Sans Regular-freeware.ttf'); }
@font-face { font-family: vishusTest13; src: local("Arvo"), url('C:\code\lang\Rust\proj\blogr\static\fonts\Arvo-Regular-freeware.ttf'); }
@font-face { font-family: vishusTest14; src: local("Aspergit"), url('C:\code\lang\Rust\proj\blogr\static\fonts\Aspergit Bold-freeware.ttf'); }
@font-face { font-family: vishusTest15; src: local("Bowhouse"), url('C:\code\lang\Rust\proj\blogr\static\fonts\Bowhouse-Regular-freeware.ttf'); }
@font-face { font-family: vishusTest16; src: local("OpenSans"), url('C:\code\lang\Rust\proj\blogr\static\fonts\OpenSans-Regular-freeware.ttf'); }


@font-face { font-family: vishusTest17; src: local("ArvoItalic"), url('C:\code\lang\Rust\proj\blogr\static\fonts\Arvo-Italic-freeware.ttf'); }

@font-face { font-family: vishusTest18; src: local("OpenSansItalic"), url('C:\code\lang\Rust\proj\blogr\static\fonts\OpenSans-Italic-freeware.ttf'); }
@font-face { font-family: vishusTest19; src: local("OpenSansBold"), url('C:\code\lang\Rust\proj\blogr\static\fonts\OpenSans-Bold-freeware.ttf'); }
@font-face { font-family: vishusTest20; src: local("OpenSansBoldItalic"), url('C:\code\lang\Rust\proj\blogr\static\fonts\OpenSans-BoldItalic-freeware.ttf'); }
@font-face { font-family: vishusTest21; src: local("OpenSansCondBOld"), url('C:\code\lang\Rust\proj\blogr\static\fonts\OpenSans-CondBold (1)-freeware.ttf'); }
@font-face { font-family: vishusTest22; src: local("OpenSansExtraBold"), url('C:\code\lang\Rust\proj\blogr\static\fonts\OpenSans-ExtraBold-freeware.ttf'); }
@font-face { font-family: vishusTest23; src: local("OpenSansExtraBoldItalic"), url('C:\code\lang\Rust\proj\blogr\static\fonts\OpenSans-ExtraBoldItalic-freeware.ttf'); }
@font-face { font-family: vishusTest24; src: local("OpenSansLight"), url('C:\code\lang\Rust\proj\blogr\static\fonts\OpenSans-Light-freeware.ttf'); }
@font-face { font-family: vishusTest25; src: local("OpenSansLightItalic"), url('C:\code\lang\Rust\proj\blogr\static\fonts\OpenSans-LightItalic-freeware.ttf'); }
@font-face { font-family: vishusTest26; src: local("OpenSansSemiBold"), url('C:\code\lang\Rust\proj\blogr\static\fonts\OpenSans-Semibold-freeware.ttf'); }
@font-face { font-family: vishusTest27; src: local("OpenSansSemiBoldItalic"), url('C:\code\lang\Rust\proj\blogr\static\fonts\OpenSans-SemiboldItalic-freeware.ttf'); }









