
<footer id="v-footer">
    <div class="v-copyright"><span class="v-icon-copyright">&copy;</span> 2018 
        <script type="text/javascript" language="javascript">
            show_contact();
        </script><noscript>Andrew Prindle</noscript>
     | <a href="{{info.base_url}}rss.xml"><i class="v-icon-rss fa fa-rss" aria-hidden="true"></i> RSS</a></div>
    {{~#if info.gentime~}}
    <div class="v-generation-time">
        <i class="v-icon-pagegen fa fa-tachometer" aria-hidden="true"></i>
        Generated in {{info.gentime}}</div>
    {{~/if~}}
</footer>
</div>
</div>
<script src="{{info.base_url}}{{> common/assets-js-after }}"></script>
<script>
{{~#if info.js~}}
{{{info.js}}}
{{~/if~}}
</script>
</body>
</html>