
$bg-absolute: #000;
$bg-hard: ;
$bg-medium: ;
$bg-easy: ;

$bg-dusk: #1c2024;
$bg-alternate: #853c01;

$fg-absolute: #fff;
$fg-hard: #eee;
$fg-medium: #ddd;
$fg-easy: ;

$body-bg: #15191b;


$orange-dark: #e06601;
$orange-darkest: #de6d11;


$grey-med: #999;

$grey-3: #333;
$grey-4: #444;
$grey-7: #777;
$grey-9: #999;
$grey-a: #aaa;
$grey-c: #ccc;
$grey-e: #eee;

$nav-drop-ahover: #f00;
$nav-drop-a: #19777f;

$link-a: #8ceaf6;
$link-visited: #38dcef;
$link-hover: #ff8f31;
$link-visited-hover: $orange-dark;
$link-active: #fff;









































