
h1, h2, h3, h4, h5, h6 {
    font-family: vishusBlogTitle;
}


a {
    color: #8ceaf6;
    text-decoration: none;
}
a:visited {
    color: $link-visited;
    text-decoration: underline;
    text-decoration-color: $grey-med;
}
a:hover {
    color: $link-hover;
}
a:visited:hover {
    color: $link-visited-hover;
}

a:active {
    color: $link-active;
}


















































