

@media print {
    
    .v-article-tags a, .v-article-tags a:link, .v-article-tags a:visited {
        color: #fff !important;
    }
    input, textarea, button[type=submit] {
        border: 1px solid #ddd !important;
        color: #000 !important;
    }
    label {
        color: #000 !important;
    }
    .v-content, .v-article, #v-footer {
        border: 0px !important;
    }
    .v-article-header, .v-article p, .v-article-title a, .v-article-date, .v-article, #v-main, #v-content, #v-content p, #v-footer {
        color: #000 !important;
        
    }
    .v-article *, .v-content * {
        color: #000 !important;
    }
    
}


































































