


.pagination > li > a, 
.pagination > li > span {
    border-color: $grey-9 !important;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: $fg-absolute !important;
    background-color: $orange-darkest !important;
}

.pagination > li.active > a {
    border-color: $orange-darkest !important;
    background-color: $bg-alternate !important;
    color: $grey-e !important;
}

.pagination > li.disabled > span {
    color: $grey-7 !important;
}

.pagination > li > a,
.pagination > li > a,
.pagination > li > span,
.pagination > li > span {
    color: $grey-c !important;
    background-color: $bg-dusk !important;
}


.pagination {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}


.pagination .page-item:first-child {
    margin-left: auto;
}
.pagination .page-item:last-child {
    margin-right: auto;
}


.v-pagnav-before {
    
}

.v-pagnav-nav {
    
}

.v-pagnav-after {
    text-align: center;
    align-self: center;
}

.pagination-ipp {
    background-color: $grey-4;
    color: $fg-absolute;
    border: 1px solid $orange-darkest;
    border-radius: .4em;
    padding: 4px;
}

.pagination-ipp option {
    background-color: $grey-3;
}

hr {
    border-top: 1px solid $grey-7;
}

hr.preview-divider {
    height: 0px;
    border-top: 1px dashed $grey-a;
}







































