{{> common/header }}
                <div class="v-content">
                
<!-- ---------- -->
                    
                    {{#if msg}}
                        {{{msg}}}
                    {{/if}}
                    <form method="post" action="{{action_url}}" name="insert_form">
                        <!-- <div class="col-md-7 mx-auto mb-3"> -->
                        <div class="col mb-3">
                            <input name="title" type="text" maxlength="120" class="v-centered-input v-form-control form-control" id="inputTitle" placeholder="Title">
                        </div>
                        <div class="form-group">
                            <label for="input_description" class="v-form-label">Description</label>
                            <textarea class="form-control" name="description" id="insert_desc" maxlength="400" rows="2"></textarea>
                            <!-- <input name="description" type="text" class="v-form-control form-control" maxlength="250" id="insert-desc" placeholder="Description"> -->
                        </div>
                        <div class="form-group">
                            <label for="input_body" class="v-form-label">Contents</label>
                            <textarea class="form-control" name="body" id="insert_body" rows="3"></textarea>
                        </div>
                        <div class="col-md-8 mx-auto">
                            <label for="insert-tags" class="v-center-label v-form-label">Tags -Comma Separated</label>
                                <input name="tags" type="text" maxlength="250" class="v-centered-input v-form-control form-control" id="insert-tags" placeholder="Tags">
                                <div class="v-form-message" id="tag-msg">
                                    Did you mean to <b>Comma Separate</b> the tags?
                                </div>
                        </div>
                        <div class="v-submit">
                            <button type="submit" class="btn btn-primary">Create Article</button>
                        </div>
                    </form>
                    <script>
                        StartText();
                    </script>
                    
<!-- ---------- -->

                </div>
{{> common/footer }}